@use "../../base/mixins" as m;
@use "../../base/variables" as v;

.meeti {
    padding: 3rem 0;
    &__heading {
        @include m.heading;
        margin-bottom: 5rem;
    }
    &__grid {
        margin-bottom: 5rem;
        border-bottom: 1px dashed darken(v.$grisClaro, 10%);
        @include m.tablet { 
            @include m.grid(3, 2rem);
            grid-template-rows: repeat(2, 1fr);
            border-bottom: unset;
            margin-bottom: 0;
        }
    }
   
    &__imagen-contenedor{
        @include m.tablet { 
            grid-column: 1 / 3;
            grid-row: 1 / 2;  
        }
    }  
    &__texto {
        @include m.tablet { 
            grid-column: 1 / 3;
            grid-row: 2 / 3;  
        }
    }
    &__imagen {
        object-fit: cover;
    }

}